<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net461" />
  <package id="Microsoft.CodeCoverage" version="17.2.0" targetFramework="net461" />
  <package id="Microsoft.NET.Test.Sdk" version="17.2.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net461" />
  <package id="NUnit" version="3.13.3" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="4.2.1" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="4.3.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="103.0.5060.5300" targetFramework="net461" />
</packages>